[server]

[mysqld]

user					= mysql
pid-file				= /run/mysqld/mysqld.pid
basedir					= /usr
datadir					= /var/lib/mysql
tmpdir					= /tmp
lc-messages-dir			= /usr/share/mysql
lc-messages				= en_US
skip-external-locking

bind-address			= 0.0.0.0

expire_logs_days		= 10

character-set-server	= utf8mb4
collation-server		= utf8mb4_general_ci

[embedded]

[mariadb]

[mariadb-10.5]

# The only change to be made here in to the bind-address.
# We change it from 127.0.0.1 to 0.0.0.0 so that we allow connections from any IP address
