[server]

[mysqld]

user					= mysql
pid-file				= /run/mysqld/mysqld.pid
basedir					= /usr
datadir					= /var/lib/mysql
tmpdir					= /tmp
lc-messages-dir			= /usr/share/mysql
lc-messages				= en_US
skip-external-locking

# This is the only change we made from the original file
# It was necessary to allow the MariaDB server to accept connections from any IP address, not only the local machine
bind-address			= 0.0.0.0

expire_logs_days		= 10

character-set-server	= utf8mb4
collation-server		= utf8mb4_general_ci

[embedded]

[mariadb]

[mariadb-10.5]
